*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
i{
    font-style:normal;
}
.big_box{
    width: 1536px;
    margin: 0 auto;
}

.h{
    width: 100%;
    height: 80px;
    float: left;
}
.logoa{
    display: block;
    width: 150px;
    height: 80px;
    float: left;
    margin-left: 270px;
}
.logo{
    width: 150px;
    margin-top: 10px;
}
.top_list{
    float: left;
    margin-top: 30px;
}
.top_list li{
    display: block;
    float: left;
    margin-left: 40px;
    font-size: 18px;
    cursor: pointer;
}
.color{
    color: #F6623B;
}
.search{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 32px;
    margin-left: 355px;
    cursor: pointer;
}
.search img{
    width: 20px;
}

.h>.register{
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    border: 1px solid #F6623B;
    color: #F6623B;
    margin-top: 25px;
    margin-right: 270px;
    margin-left: 0;
}
.bgimg{
    float: left;
    width: 1536px;
    height: 240px;
    background: url(../img/original.jpg) no-repeat;
    background-size: 1536px;
    position: relative;
    perspective:5000px;
}
.apply{
    position: absolute;
    top: 50px;
    right: 270px;
    height: 200px;
    transform-style:preserve-3d;
    animation: aaa 2s linear;
}
.apply>h3{
    color: #fff;
    font-weight: 400;
}
.apply_list{
    margin-top: 15px;
}
.apply_list li{
    display: inline-block;
    font-size: 14px;
    background-color: rgba(235, 235, 235, 0.3);
    color: #fff;
    margin-left: 9px;
}
#time{
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.apply span{
    display: block;
    background-color: #FE5341;
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 35px;
    cursor: pointer;
}
@keyframes aaa{
    0%{
        top: 0;
        right: 0;
    }
    50%{
        top: 20px;
        right: 150px;
        height: 100px;
        transform: rotateY(180deg);
    }
    100%{
        top: 50px;
        right: 270px;
        height: 200px;
        transform: rotateY(360deg);
    }
}
.swiper{
    width: 995px;
    height: 240px;
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: rgba(204, 204, 204);
}
.swiper-button-next{
    margin-right: 15px;
}
.swiper_a{
    display: inline-block;
    width: 240px;
}
.swiper_img{
    width: 235px;
    height: 138px;
}
.swiper_img img{
    width: 235px;
}
.swiper_a span{
    display: inline-block;
    width: 45px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    height: 25px;
    color: #FE5341;
    border: 1px solid #FE5341;
   border-radius: 5px
}
.text{
    margin-left: 55px;
}
.text i{
    color: #FE5341;
}
.text_div{
    color: #FE5341;
}